<div class="card">
<div class="card_content">

<div>{{ pattern('normal_text',{
        text: date,
    }) }}</div>
<div>{{ pattern('title_text',{
        text: title,
        url: node_url
    }) }}</div>
<div>{{ pattern('normal_text',{
        text: description,
    }) }}</div>

<div class= "more_info">
<div class="space-between">{{ pattern('category_button',{
        text: category,
        url: '#',
    }) }}</div>
<div class="space-between">{{ pattern('text_button',{
        text: author,
        url: '#'
    }) }}</div>
<div class="space-between">{{ pattern('normal_text',{
        text: '2 min.',
    }, 'black_text') }}</div>
</div>

</div>
<div class="post_card_image">
   {{ url_image }}
</div>

</div>