<div class="card">
<div class="card_content">

<div>{{ pattern('text_button',{
        text: date,
        url: '#'
    }) }}</div>
<div>{{ pattern('title_text',{
        text: title,
        url: node_url
    }) }}</div>
<div>{{ pattern('text_button',{
        text: description,
        url: '#'
    }) }}</div>

<div class= "more_info">
<div class="space-between">{{ pattern('category_button',{
        text: category,
        url: '#',
    }) }}</div>
<div class="space-between">{{ pattern('text_button',{
        text: author,
        url: '#'
    }) }}</div>
<div class="space-between">{{ pattern('text_button',{
        text: '2 min.',
        url: '/node'
    }) }}</div>
</div>

</div>
<div class="card_image">
   {{ url_image }}
</div>

</div>