<div class="card">
<div class="card_content">
<div>{{ pattern('text_button',{
        text: 'June 24th',
        url: '/node'
    }) }}</div>
<div>{{ pattern('title_text',{
        text: 'Powerful Trading Tools and Features for Experienced Investors',
        url: '/node'
    }) }}</div>
<div>{{ pattern('text_button',{
        text: 'I’m always trying to think of new and interesting business ideas. I generally try to come up with ideas by thinking of what I would want to do or see in the world. Then, I try to find reasons why it wouldn’t work...',
        url: '/node'
    }) }}</div>

<div class= "more_info">
<div class="space-between">{{ pattern('category_button',{
        text: 'Views',
        url: '/node'
    }) }}</div>
<div class="space-between">{{ pattern('text_button',{
        text: 'Author',
        url: '/node'
    }) }}</div>
<div class="space-between">{{ pattern('text_button',{
        text: 'Read time',
        url: '/node'
    }) }}</div>
</div>

</div>
<div class="card_image">
  {{ pattern('image',{
    image: 'Kitten',
    url: 'https://placekitten.com/10'
  })}}
</div>

</div>
</div>