<div class="card">
<div class="card_content">

<div class= "more_info">
<div class="space-between">{{ pattern('title_text',{
        text: 'Drupal',
        url: '/node'
    }) }}</div> 
 <div class="space-between search-bar-style">{{ pattern('search_bar',{
        text: 'Search...',
        url: '/node'
    }) }}</div> 

<div class= "menu_items">

    <div class="space-between">{{ pattern('text_button',{
        text: 'Home',
        url: '/node'
    }) }}</div> 
    <div class="space-between">{{ pattern('text_button',{
        text: 'Blogs',
        url: '/node'
    }) }}</div> 
    <div class="space-between">{{ pattern('text_button',{
        text: 'Profile',
        url: '/node'
    }) }}</div> 
    <div class="space-between">{{ pattern('text_button',{
        text: 'Gallery',
        url: '/node'
    }) }}</div> 

</div>
 
  <div class="space-between">{{ pattern('button',{
        text: 'Login',
        url: '/node'
    }) }}</div> 
        

</div>

</div>

</div>
</div>