<div class="card">
<div class="card_content">

<div>{{ pattern('normal_text',{
        text: 'Categories',
    }, 'blue_text') }}</div>


<div class= "more_info-category">
<div class="first-item">{{ pattern('category_button',{
        text: 'Views',
        url: '/taxonomy/term/4'
    }) }}</div> 
 <div class="space-between">{{ pattern('category_button',{
        text: 'Modules',
        url: '/taxonomy/term/3'
    }) }}</div> 
 <div class="space-between">{{ pattern('category_button',{
        text: 'Templates',
        url: '/taxonomy/term/5'
    }) }}</div> 
  <div class="space-between">{{ pattern('category_button',{
        text: 'Users',
        url: '/taxonomy/term/8'
    }) }}</div> 
 <div class="space-between">{{ pattern('category_button',{
        text: 'Installation',
        url: '/taxonomy/term/6'
    }) }}</div>
<div class="space-between">{{ pattern('category_button',{
        text: 'Nodes',
        url: '/taxonomy/term/7'
    }) }}</div>               

</div>

</div>

</div>
</div>